<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Dark horse</title>
</head>

<body>
    <div class="container d-flex flex-column align-items-center" style="max-width: 380px;">
        <h4 class="mt-5">
            <%=day%>
        </h4>
        <div class="mt-4 w-100 d-flex flex-column">
            <% timeList.map((element, idx) => { %>
                <section class="mb-3 bg-light">
                    <div class="w-100 fs-5 text-center" style="height: 30px;"><%=element.time%></div>
                    <div class="accordion accordion-flush w-100 border" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapse<%=idx%>" aria-expanded="false"
                                    aria-controls="flush-collapse<%=idx%>">
                                    <%=element.first%>
                                </button>
                            </h2>
                            <div id="flush-collapse<%=idx%>" class="accordion-collapse collapse"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <% element.waiting.map((person, personIdx) => { %>
                                        <div class="fs-5">대기<%=personIdx+1%> : <%=person%></div>    
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <% }) %>
            
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
</body>

</html>