<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Dark horse</title>
</head>

<body>
    <div class="container d-flex flex-column justify-content-center" style="max-width: 380px;">        
        <div class="row bg-light mt-5" style="height: 40px;">
            <div class="col-6 text-center pt-2 fw-bold"><%=day%></div>
            <button class="btn btn-success col-6" onclick="goCheckStatus(<%=dayIndex%>)">
                신청 현황 보기
            </button>
        </div>
        <div class="mt-4 d-flex flex-column">
            <% timeList.map((element, idx) => { %>  
                <div class="row mb-3">
                    <div class="col-8 bg-body-secondary d-flex justify-content-center align-items-center">
                        <p class="m-0"><%=element%></p>
                    </div>
                    <div class="col-4 text-center">
                        <button class="btn btn-primary" type="submit" form="applyLesson">
                            신청
                        </button>
                        <form action="/choose/<%=dayIndex%>" method="POST" id="applyLesson" class="d-none">
                            <input name="time" value="<%=element%>">
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script>
        function goCheckStatus(day){
            //배포 시 origin 재설정 필요
            window.location.href = `http://localhost:8080/choose/${day}/detail`;
        }
    </script>
</body>

</html>